<aside class="fixed min-h-screen bg-white z-10 w-56  pt-5 border-r-2 border-slate-300" *ngIf="getLocation() != ''">
    <div class="flex mx-auto">
        <img src="../../assets/img/medicine.png" class="h-20 pl-10 mb-5 flex-none">
        <h1 class="flex-none text-lg mt-16 ml-2">Meds</h1>
       </div>
    <ul>
        <a routerLink="/"><li class="text-stone-500 mb-4 pl-16 p-4 hover:bg-slate-300">Home</li></a>
        <a routerLink="/"><li class="text-stone-500 mb-4 pl-16 p-4 hover:bg-slate-300">Transaction</li></a>
        <a routerLink="/"><li class="text-stone-500 mb-4 pl-16 p-4 hover:bg-slate-300">Branch</li></a>
        
    </ul>
</aside>