<div class="container ml-72">
    <div class="flex justify-between">
        <p class="text-gray-400 text-1xl m-5">/MEDS/DASHBOARD</p>
        <div>
            <input type="text" name="search" id="search" class="border border-slate-300 h-5 m-5 p-4" placeholder="Search">
            <button class="">search</button>
        </div>

    </div>
    <div class="flex">
        <div class="border border-slate-300 w-1/2 flex-none mr-5 mt-10 p-5 rounded-md shadow">
            <div class="flex flex-row-reverse">
                <button class="flex-none">today</button>
                <button class="flex-none mr-5">Previous</button>
            </div>
            <h1 class="text-4xl text-center"> Total Daily Sales</h1>
            <div class="border border-black mt-5"></div>
            <h1 class="text-6xl text-center font-semibold m-5">P1,000</h1>
            <p class="text-2xl text-right">April 4, 2023</p>
        </div>
        <div class="border border-slate-300 w-1/2 flex-none mt-10 p-5 rounded-md shadow">
            <div class="flex flex-row-reverse">
                <button class="flex-none">today</button>
                <button class="flex-none mr-5">Previous</button>
            </div>
            <h1 class="text-4xl text-center"> Total Daily Sales</h1>
            <div class="border border-black mt-5"></div>
            <h1 class="text-6xl text-center font-semibold m-5">P1,000</h1>
            <p class="text-2xl text-right">April 4, 2023</p>
        </div>
    </div>
    <div class="flex ">
        <div class="border border-slate-300 w-1/2 flex-none mr-5 mt-10 p-5 rounded-md shadow">
            <div class="flex flex-row-reverse">
                <button class="flex-none">today</button>
                <button class="flex-none mr-5">Previous</button>
            </div>
            <h1 class="text-4xl text-center"> Total Monthly Sales</h1>
            <div class="border border-black mt-5"></div>
            <h1 class="text-6xl text-center font-semibold m-5">P1,000</h1>
            <p class="text-2xl text-right">April 4, 2023</p>
        </div>
        <div class="border border-slate-300 w-1/2 flex-none mt-10 p-5 rounded-md shadow">
            <div class="flex flex-row-reverse">
                <button class="flex-none">today</button>
                <button class="flex-none mr-5">Previous</button>
            </div>
            <h1 class="text-4xl text-center"> Total Yearly Sales</h1>
            <div class="border border-black mt-5"></div>
            <h1 class="text-6xl text-center font-semibold m-5">P1,000</h1>
            <p class="text-2xl text-right">April 4, 2023</p>
        </div>
    </div>
    
</div>
